extends ../../layout/analysislayout
block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/analysis/needleplot.css')
	style.
		.slider.slider-horizontal{
			width: 150px;
		}
		.fixed-table-pagination .page-list {
			display: none;
		}		
		.box_container {
			margin-top: 15px;
		}
		.box_main_title {
			color: #286090;
			font-size: 18px;
		}
		.box_title {
			color: #286090;
			font-size: 16px;
		}
		.highlight{
			background-color: red
		}        
		.badge{
			background-color: #337AB7;
			 cursor: pointer;
		}

block prepend rightcontent
	div(style={'margin-top':'30px'}) 
		div.col-lg-2(style={'line-height': '28px'}) 
			div.box_container
				h4 Min. Frq. in Total
				div.input-group(style={'width':'100px'})
					input.form-control.input-sm.text-right(value='0')#frequency
					div.input-group-addon %
			div.box_container
				//- i.fa.fa-caret-right
				h4 Classification            
				div
					input#classification_all(type='checkbox',value='All',checked)
					span.sub_menu_span All
				hr(style={'border-top-style': 'dashed','width': '150px', 'margin': '5px'})     
				div
					input(type='checkbox',name='classification',value='Nonsense_Mutation')
					span.sub_menu_span Nonsense
				div
					input(type='checkbox',name='classification',value='Splice_Site')
					span.sub_menu_span Splice Site
				div
					input(type='checkbox',name='classification',value='Translation_Start_Site')
					span.sub_menu_span Translation Start Site
				div
					input(type='checkbox',name='classification',value='Missense_Mutation')
					span.sub_menu_span Missense
				div
					input(type='checkbox',name='classification',value='Nonstop_Mutation')
					span.sub_menu_span Nonstop
				div
					input(type='checkbox',name='classification',value='Frame_Shift_Ins,Frame_Shift_Del')
					span.sub_menu_span INDEL(Frame Shift)
				div
					input(type='checkbox',name='classification',value='In_Frame_Ins,In_Frame_Del')
					span.sub_menu_span INDEL(In Frame)
				div
					input(type='checkbox',name='classification',value='RNA,lincRNA')
					span.sub_menu_span RNA,lincRNA
				div
					input(type='checkbox',name='classification',value='Silent')
					span.sub_menu_span Silent
			div.box_container
				//- i.fa.fa-caret-right
				h4 In Cancer Genes            
				div
					input(type='checkbox',name='cosmic',checked)
					span.sub_menu_span Cancer Gene Census
				div
					input(type='checkbox',name='driver',checked)
					span.sub_menu_span Cancer Drug Targets
				//- div
				//-     input(type='radio',name='c')
				//-     span.sub_menu_span HGMD
			div.box_container
				button#filterButton.btn.btn-primary(type='button',style={'margin-left': '20px'}) 
					span.glyphicon.glyphicon-refresh
					span  Update
		div.col-lg-10
			div
				table#table

			div
				div
					h4#needleplot-title
				//- div.btn-group(style={'position' : 'absolute'})
				//- 	button#down_png.btn.btn-default.btn-xs(type='button')
				//- 		i.glyphicon.glyphicon-picture
				div.loading(style={ "display" : "none" }) 
					span#loading_text
					div.double-bounce1
					div.double-bounce2
				div.container.chart_container
					div.row
						div#needleplot_view
						div#needleplot_legend
					div.row
						div#needleplot_navigation

	div.tooltip_chart(style={ "display" : "none" })

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/js/chart/init.js')
	script(src='/js/analysis/variant.js')
