extends ../layout/analysislayout

block append stylesheets
    style.
        .bigbar{
            padding: 12px;
            font-size: 18px;
            border-radius: 5px;
        }
block rightcontent
    div.col-lg-12
        div.page-header 
            h1 Analysis 
                small Find a Patient
    div.col-lg-6
        div.panel.panel-default
            div.panel-heading
                //- input(placeholder="Search",style={'width':'200px'})
                input.form-control(type='text', placeholder="Search",style={'margin-left':'auto', 'width':'200px'})
            div.panel-body
                table.table.table-striped.table-hover
                    thead
                        tr
                            th #
                            th Patient ID
                            th Type
                            th PiC
                            th Date
                    tbody
                        tr
                            th(scope='row') 1
                            td: a(href='/menus/menu1/summary') CDSS-20150701-001
                            td LUAD
                            td Dr. Song
                            td Just now
                        tr
                            th(scope='row') 2
                            td: a(href='/menus/menu1/summary') CDSS-20150612-007
                            td BRCA
                            td Prof. Lee
                            td Yesterday
                        tr
                            th(scope='row') 3
                            td: a(href='/menus/menu1/summary') CDSS-20150612-006
                            td BRCA
                            td Prof. Lee
                            td 1 week ago
                        tr
                            th(scope='row') 4
                            td: a(href='/menus/menu1/summary') CDSS-20150612-005
                            td BRCA
                            td Prof. Lee
                            td 2 months ago


                div.text-center
                    nav
                        ul.pagination
                            li
                                a(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                            li
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#', aria-label='Next')
                                    span(aria-hidden='true') »

        div.well
            | Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut. Eum impetus offendit disputationi eu, at vim aliquip lucilius praesent. Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut.
            br
            br
            ul
                li Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut.
                li Lorem ipsum dolor sit amet, natum bonorum expetendis usu ut.
    div.col-lg-6
        div.panel.panel-default
            div.panel-body
                //- p.bg-primary.bigbar Learn About CDSS
                h3
                    i.fa.fa-check-square-o
                    span.sub_menu_span Support CDSS
                ul
                    li Pathways
                    li Immunotherapy in Cancer
                    li Overview of Targeted Therapies for Cancer
                    li List of Anticancer Agents
                    li Types of Molecular Tumor Testing
                h3 
                    i.fa.fa-check-square-o
                    span.sub_menu_span  Molecular Medicine
                ul
                    li Pathways
                    li Immunotherapy in Cancer
                    li Overview of Targeted Therapies for Cancer
                    li List of Anticancer Agents
                    li Types of Molecular Tumor Testing

                h3 
                    i.fa.fa-check-square-o
                    span.sub_menu_span Connect With Us
                ul
                    li Pathways
                    li Immunotherapy in Cancer
                    li Overview of Targeted Therapies for Cancer
                    li List of Anticancer Agents
                    li Types of Molecular Tumor Testing
