extends ../layout/basiclayout

block append stylesheets
    link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-toggle/css/bootstrap-toggle.css')
    link(rel='stylesheet', href='//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css')
    style.
        //- .table {
        //- 	table-layout:fixed;
        //- }
        .table td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

block content
    div.container(style={'width':'1270px','margin-top':'50px'})
        table#table
            
block append scripts
    script(src='/bower_components/bootstrap-table/dist/bootstrap-table.js')
    script(src='/bower_components/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js')
    script(src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js")
    script(src='/bower_components/bootstrap-toggle/js/bootstrap-toggle.js')
    script(src='/js/admin.js')
