extends ../layout/basiclayout

block content
    div.container
        div.container.text-center(style={'margin':'100px auto'})
            img(src="http://www.gofioretoyota.com/blogs/586/wp-content/uploads/2014/04/Fiore-Toyota.gif",style={'width':'350px'})
