extends ../layout/basiclayout

block content
    div.container
        div.container.text-center(style={'margin':'100px auto'})
            img(src="http://glec.education.iupui.edu/Images/fall_2014_ELI/ComingSoon.jpg",style={'width':'300px'})
