extends ../layout/basiclayout

block append stylesheets
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(rel='stylesheet', href='/bower_components/country-select-js/build/css/countrySelect.css')
    link(rel='stylesheet', href='/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css')

block content
    div.container
        div(style={'padding-top': '60px','width': '600px','margin-left':'auto','margin-right':'auto'})
            table.table.table-striped
                thead
                    tr
                        th(colspan=2) Personal
                tbody
                    tr
                        td ID (Email address)
                        td #{profile.username}
                    tr
                        td Full name
                        td: a#fullname('data-value'=profile.fullname)
                    tr
                        td Gender
                        td: a#gender('data-value'=profile.gender)
                    tr
                        td Date of Birth (mm/dd/yyyy)
                        td: a#birth #{profile.birth}
                    tr
                        td Mobile (Only Number)
                        td: a#mobile('data-value'=profile.mobile)
                    tr
                        td Country
                        td: a#country('data-value'=profile.country)
                thead
                    tr
                        th(colspan=2) Company
                tbody
                    tr
                        td Name
                        td: a#company_name('data-value'=profile.company_name)
                    tr
                        td Address
                        td: a#company_address('data-value'=profile.company_address)
                    tr
                        td Positon
                        td: a#company_position('data-value'=profile.company_position)
                    
block append scripts
    script(src='/bower_components/country-select-js/build/js/countrySelect.js')
    script(src="/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js")
    script(src="/bower_components/moment/moment.js")
    script(src='/js/users/profile.js')
    script.
         $.fn.editable.defaults.pk = '#{profile.id}';
