/* Sticky footer styles
-------------------------------------------------- */

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	/*color: #777;*/
}
.footer {
	/*position: absolute;*/
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

body > .container {
	padding: 50px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
body > .modal-dialog {
	margin: 100px auto;
}
code {
	font-size: 80%;
}

/* Header
-------------------------------------------------- */
.navbar-container {
	padding-left: 30px;
	/*padding-right: 30px;*/
	padding-right: 60px;
}
.menu_icon {
	/*color: #286090;*/
}
.menu_span {
	padding-left: 5px;
}
.sub_menu_span {
	padding-left: 10px;
}
.dropdown-menu > li > a {
	color: #777;
}

.agent-red {
    color : #db342c;
}

.agent-blue {
    color : #007cbc;
}

.agent-black {
    color : #333333;
}

/* Bootstrap popover */
.popover{
	max-width: 100%; /* Max Width of the popover (depending on the container!) */
}
