/* DEG Plot 
--------------------------------------- */
.chart_container {
	width : 1600px;
}
.deg_color_range_axis path,
.deg_color_range_axis line 	{
	fill : none;
	stroke : #BFBFBF;
	stroke-width : 1;
	shape-rendering : crispEdges;
}
.deg_color_range_axis text	{
	font-size: 10px;
}
.table {
	font-size: 12px;
}
.table tbody tr td, .table thead tr th {
	padding : 2px;
}
.degplot_lever_rect	{
	fill : #F2F1EF;
	stroke : #BFBFBF;
}
.panel-title	{
	font-size: 12px;
}
#degplot_color	{
	width : 200px;
}