/* Ma plot
------------------------------------------------------- */
#maplot_table {
	margin : 0px;
}
#maplot_table_body {
	height : 500px;
	overflow-y : auto;
}
#maplot_select_path	path {
	stroke : #26d632;
}

