div#brcaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='brcaModalLabel')
    div.modal-dialog(role='document')
        div.modal-content
            div.modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4#brcaModalLabel.modal-title Filter Background Public Data - BRCA
            div.modal-body
                div#accordion.panel-group(role='tablist', aria-multiselectable='true')
            div.modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
                button#saveChanges.btn.btn-primary(type='button', data-dismiss='modal') Save changes
