div.char_header_container
	div.tooltip
	div.btn-group(role="group")
		button.btn.btn-default#png_download_button(type="button", aria-label="Left Align", disabled)
			span.glyphicon.glyphicon-picture(aria-hidden="true")
		div.btn-group(role="group")
			button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")	select area
				span.caret(style={ "margin-left" : "10px" })
			ul.dropdown-menu#chart_div_ul
				li
					a(href="#") Test1
				li
					a(href="#") Test2
