extends ../layout/basiclayout

block content
	div.container.chart_base_container
		div.row
			div#comutationplot_empty_lt(style={'float' : 'left', 'padding' : '0px', 'margin' : '0px', 'width' : '150px', 'height' : '100px'})
			div#comutationplot_sample(style={'float': 'left', 'padding-bottom': '10px', 'margin': '0px', 'width': '1126px', 'height': '100px', 'overflow-y': 'hidden', 'overflow-x': 'auto'})
			div#comutationplot_scale(style={'float': 'left', 'padding': '0px', 'margin': '0px', 'width': '150px', 'height': '100px'})
		div.row
			div#comutationplot_gene(style={'padding': '0px', 'margin-right': '10px', 'float': 'left', 'width': '150px', 'height': '620px'})
			div#comutationplot_mutationseq(style={'padding': '0px', 'margin': '0px', 'float': 'left', 'width': '1116px', 'height': '620px', 'overflow-x' : 'hidden', 'overflow-y': 'hidden', 'border' : '1px solid rgb(236, 236, 236)'})
			div#comutationplot_pq(style={'padding': '0px', 'margin': '0px', 'float': 'left', 'width': '150px', 'height': '620px'})
		div.row
			div#comutationplot_empty_lb(style={'float' : 'left', 'padding' : '0px', 'margin' : '0px', 'width' : '150px', 'height' : '100px'})
			div#comutationplot_legend(style={'float' : 'left', 'padding': '0px', 'margin': '0px', 'width': '1126px', 'height': '100px'})
			div#comutationplot_empty_rb(style={'float' : 'left', 'padding' : '0px', 'margin' : '0px', 'width' : '150px', 'height' : '100px'})
block append stylesheets
	link(rel='stylesheet', href='/stylesheets/chart/comutationplot.css')