extends ../layout/basiclayout

block content
	div.container.chart_base_container
		div.table_component(style={"float" : "left"})
			table.table.table-bordered.table-hover.table-responsive
				thead
					tr
						th Pathway_A
						th Pathway_B
						th Pathway_C
						th -si.logP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						th -si.up.logP
						th -si.dn.logP
				tbody.degplot_tbody
		div#color_range_component(style={"float" : "left", "margin-left" : "10px"})
block append stylesheets
	link(rel='stylesheet', href='/stylesheets/chart/degplot.css')					