extends ../layout/basiclayout
block append stylesheets
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/chart/degplot.css')
	link(rel='stylesheet', href='/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.css')
block content
	div.loading(style={ "display" : "none" }) 
		span#loading_text 
		div.double-bounce1
		div.double-bounce2
	div.container.chart_container
		//- include chart_header.jade
		div.table_component(style={"float" : "left"})
			table.table.table-bordered.table-responsive
				thead
					tr
						th Pathway_A
						th Pathway_B
						th Pathway_C
						th -si.logP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						th -si.up.logP
						th -si.dn.logP
				tbody.degplot_tbody			
		div#degplot_color(style={"float" : "left", "margin-left" : "10px"})
			div.panel-group#degplot_color_config(role="tablist", aria-multiselectable="true")
				div.panel.panel-default
					div.panel-heading#degplot_color_bar_heading(role="tab")
						span.panel-title
							a(role="button", data-toggle="collapse", data-parent="#accordion", href="#color_bar", aria-expanded="false", aria-controls="color_bar") 
					div.panel-collapse.in.collapse#color_bar(role="tabpanel", aria-labelledby="degplot_color_bar_heading")
						div.panel-body#degplot_color_bar_body
	div.tooltip_chart(style={ "display" : "none" }) 
block append scripts
	script(src='/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.js')
	script(src='/bower_components/html2canvas/build/html2canvas.js')
	script(src='/bower_components/requirejs/require.js')
	script(src='/js/chart/init.js')
	script(src='/js/chart/start.js', onload='startChart("deg")')

