extends ../layout/basiclayout

block content
	div.container.chart_base_container
		table.table.table-bordered.table-hover.table-responsive
			thead
				tr
					th Pathway_A
					th Pathway_B
					th Pathway_C
					th -si.logP
					th -si.up.logP
					th -si.dn.logP
			tbody.degplot_tbody
