extends ../layout/basiclayout

block content
	div.loading(style={ "display" : "none" }) 
		span#loading_text
		div.double-bounce1
		div.double-bounce2
	div.container.chart_container(style={'width' : '1600px'})
		//- include chart_header.jade
		div.row
			div#needleplot_yaxis(style={'padding': '0px', 'margin': '0px', 'width': '50px', 'height': '530px', 'float': 'left'})
			div#needleplot_view(style={'padding': '0px', 'margin': '0px', 'width': '1350px', 'height': '530px', 'float': 'left', 'overflow' : 'hidden', 'background-color' : 'rgb(236, 240, 241)'})
		div.row
			div#needleplot_navigation(style={'padding': '0px', 'margin-left': '50px', 'width': '1350px', 'height': '70px', 'background-color' : 'rgb(242, 241, 239)'})
		div.row
			div#needleplot_legend(style={'padding': '0px', 'margin-left': '50px', 'width': '1350px', 'height': '70px'})
	div.tooltip_chart(style={ "display" : "none" })
block append scripts
	script(src='/bower_components/requirejs/require.js')
	script(src='/js/chart/init.js')
	script(src='/js/chart/start.js', onload='startChart("needle")')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/chart/needleplot.css')
	