extends ../layout/basiclayout

block content
	div.loading(style={ "display" : "none" }) 
		span#loading_text 
		div.double-bounce1
		div.double-bounce2
	div.container.chart_container
		div.row
			div#pcaplot_legend(style={'padding': '0px', 'margin': '0px 50px', 'width': '180px', 'height': '66px'})
		div.row
			div#pcaplot_view_2d(style={'padding': '0px', 'margin': '0px', 'width': '1400px', 'height': '750px'})
	div.tooltip_chart(style={ "display" : "none" })
block append scripts
	script(src='/bower_components/html2canvas/build/html2canvas.js')
	script(src='/bower_components/requirejs/require.js')
	script(src='/js/chart/init.js')
	script(src='/js/chart/start.js', onload='startChart("pca")')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/chart/pcaplot.css')
	
