extends ../layout/basiclayout

block content
	div.loading(style={ "display" : "none" }) 
		span#loading_text 
		div.double-bounce1
		div.double-bounce2
	div.container.chart_container
		div#xyplot_view(style={'padding': '0px', 'margin': '0px', 'width': '1450px', 'height': '660px'})
	div.tooltip_chart(style={ "display" : "none" })
block append scripts
	script(src='/bower_components/requirejs/require.js')
	script(src='/js/chart/init.js')
	script(src='/js/chart/start.js', onload='startChart("xy")')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/chart/xyplot.css')
	