extends ../layout/basiclayout

block content
	div.loading(style={ "display" : "none" }) 
		span#loading_text 
		div.double-bounce1
		div.double-bounce2
	div.container.chart_base_container
		//- include chart_header.jade
		div#xyplot_view(style={'padding': '0px', 'margin': '0px', 'width': '1450px', 'height': '660px'})
block append scripts
	script(src='/bower_components/canvg-gabelerner/StackBlur.js')
	script(src='/bower_components/canvg-gabelerner/rgbcolor.js')
	script(src='/bower_components/canvg-gabelerner/canvg.js')
	script(src='/bower_components/imagesloaded/imagesloaded.pkgd.js')
	script(src='/bower_components/html2canvas/build/html2canvas.js')
	script(src='/bower_components/requirejs/require.js', data-main='/js/index')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/xyplot.css')
	