/* Needle Plot style css attribute */
#needleplot_view  {
	overflow: scroll;
}
/*.needleplot_xaxis text,
.needleplot_yaxis text 		{
	font-size: 10px;
}*/
/*.needleplot_navigation_rightarea, 
.needleplot_navigation_leftarea 	{
	fill : #dbdbdb;
	stroke : #dbdbdb;
}*/
/*.needleplot_graph_intext {
	fill : #fff;
	font-size: 11px;
}*/
/*.needleplot_navigation_viewarea  {
	fill : #eaeaea;
}*/
/*.needleplot_gene_fullpath_group    {
	fill : #DADFE1;
}*/
/* Preserve event css attirubute during processing transition */
.preserve_events	{
	pointer-events : none;
}
/*.needleplot_patient_mutation	{
	stroke : #fff;
	stroke-width : 0;
}*/