extends sidebarlayout

block append stylesheets
	style.
		.sub_title{
			color: #777;
			margin-left: 10px;
		}
		.selected_sample {
			margin-left: 0px;
			margin-right: 10px;
			margin-top: 20px;
			//- padding: 8px;
			//- border-radius: 5px;
			color: #777;
		}
		.sample{
			font-size: 16px;
		}
		.tooltip-inner  {
		    white-space:pre;
		    max-width:none;
		}
if(sample)        
	block leftmenu
		//- p.selected_sample
		div.row.selected_sample
			div.col-md-6
				span(style={'font-style':'italic'})
				a.sample(href='/menus/') #{sample.id}, #{sample.type}
			div.col-md-6
				a(href='#', data-toggle='modal', data-target='##{sample.type}Modal')
					i.fa.fa-database.fa-fw(data-toggle='tooltip',data-placement='right',title='Filter Public Data')
					p#bg_public_data_menu_str(style={'float':'right'}) 
					p#checkeditems(style={'float':'right','display':'none'}) #{sample.checkeditems}
		hr
		p.sub_title
			strong
				//- i.fa.fa-tags
				|  NGS Statistics
		hr
		ul.sidebar-nav
			li
				a.side-menu-active(href='/menus/ngs/summary')
					i.fa.fa-newspaper-o.fa-fw
					span.sub_menu_span  Summary            
		hr
		p.sub_title(href='#')
			strong
				//- i.fa.fa-search
				|  Analysis
		hr
		ul.sidebar-nav
			li
				a(href='/menus/analysis/summary')
					i.fa.fa-newspaper-o.fa-fw
					span.sub_menu_span  Summary            
			li
				a(href='/menus/analysis/variants') 
					i.fa.fa-exclamation.fa-fw
					span.sub_menu_span  Variants  
			li
				a(href='/menus/analysis/pathways') 
					i.fa.fa-code-fork.fa-fw
					span.sub_menu_span  Pathways            
			li
				a(href='/menus/analysis/drugs') 
					i.fa.fa-medkit.fa-fw
					span.sub_menu_span  Drugs            
			li
				a(href='/menus/analysis/clinicaltrials') 
					i.fa.fa-bed.fa-fw
					span.sub_menu_span  Clinical Trials       

		hr
		p.sub_title(href='#')
			strong
				//- i.fa.fa-database
				|  Population Statistics
		hr
		ul.sidebar-nav
			li
				a(href='#', data-toggle='collapse', data-target='#genotype')
					i.fa.fa-tasks.fa-fw
					span.sub_menu_span  Genotype Selected            
					span.caret
					//- i.glyphicon.glyphicon-chevron-down
				ul#genotype.nav.nav-stacked(class='collapse', style='', aria-expanded='true')
					li
						a(href='/menus/population/comutation')
							i.fa.fa-map-o.fa-fw
							span.sub_menu_span  Mutational Landscape   
					li
						a(href='/menus/population/mutation')
							i.fa.fa-check-square-o.fa-fw
							span.sub_menu_span  Mutation Substype            
					li
						a(href='/menus/population/expression')
							i.fa.fa-sun-o.fa-fw
							span.sub_menu_span  Expression Substype            
					li
						a(href='/menus/population/substype')
							i.fa.fa-sort-numeric-asc.fa-fw
							span.sub_menu_span  CNV Substype            
			li
				a(href='#', data-toggle='collapse', data-target='#clinical')
					i.fa.fa-bed.fa-fw
					span.sub_menu_span  Clinical Selected            
					span.caret
				ul#clinical.nav.nav-stacked.collapse(style='', aria-expanded='true')
					li
						a(href='/menus/population/vital')
							i.fa.fa-heart-o.fa-fw
							span.sub_menu_span  Vital Status
					li
						a(href='/menus/population/diagnosis')
							i.fa.fa-stethoscope.fa-fw
							span.sub_menu_span  Age at diagnosis           
					li
						a(href='/menus/population/gender')
							i.fa.fa-transgender.fa-fw
							span.sub_menu_span  Gender        
					li
						a(href='/menus/population/treatment')
							i.fa.fa-plus-square.fa-fw
							span.sub_menu_span  Treatment        
else        
	block leftmenu
		a.sample(href='/menus/') Select Sample

block append scripts
	script(src='/js/analysislayout.js')
