nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
          a.navbar-brand(href="/",style={'color': '#286090'}) ERCSB CDSS
            //img(width=20,height=20,alt="ERCSB",src="/images/logo-48.png")
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li: a(href="/menus/menu0") Menu0
            li: a(href="/menus/menu1") Menu1
            li: a(href="/menus/menu2") Menu2
            li: a(href="/admin") Admin
            li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true") Chart
                    span.caret  
                ul.dropdown-menu
                    li: a(href="/chart/comutationplot")
                        i.menu_icon.fa.fa-list-alt
                        span.sub_menu_span comutation plot
                    li: a(href="/chart/needleplot")
                        i.menu_icon.fa.fa-dot-circle-o
                        span.sub_menu_span needle plot
                    li: a(href="/chart/xyplot")
                        i.menu_icon.fa.fa-line-chart
                        span.sub_menu_span xy plot
                    li.divider(role="separator")
                    li: a(href="/chart/maplot")
                        i.menu_icon.fa.fa-bar-chart
                        span.sub_menu_span ma plot
                    li: a(href="/chart/pcaplot")
                        i.menu_icon.fa.fa-cube
                        span.sub_menu_span pca plot
                    li: a(href="/chart/degplot")
                        i.menu_icon.fa.fa-list-alt
                        span.sub_menu_span deg plot

          ul.nav.navbar-nav.navbar-right
            if(!user)
                li: a(href="/login")
                    i.fa.fa-sign-in
                    span.menu_span login
                li: a(href="/register")
                    i.fa.fa-user-plus
                    span.menu_span register
            else
                li: a(href="/logout")
                    i.fa.fa-sign-out
                    span.menu_span logout
        
block loginform
    //- include ../system/loginmodal.jade
    //- include ../system/registermodal.jade
