extends sidebarlayout

block leftmenu
    ul.sidebar-nav
        li.sidebar-brand
            a(href='#') NGS Statistics
        li
            a(href='/menus/menu0/summary')
                i.side-menu-icon.fa.fa-list-alt
                span.sub_menu_span Summary            
