extends ../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/sidebarlayout.css')

block content

	div#sidebar.sidebar
		block leftmenu

	div#seperator.seperator
		div#seperatorbar.seperatorbar
			div#threedot.threedot
				i.glyphicon.glyphicon-option-vertical
			div#directionmark.directionmark
				i#directionicon.directionicon.fa.fa-chevron-left.fa-3x

	div#maincontent.maincontent
		block rightcontent
		

block append scripts
	script(src='/js/sidebarlayout.js')
	script(src='/js/analysis/globalsetting.js')
