extends ../../layout/analysislayout

block prepend rightcontent
	div.container.chart_container
		div.btn-group
			button#down_png.btn.btn-default.btn-xs(type='button')
				i.glyphicon.glyphicon-picture
		div.row
			div#comutationplot_sample_lm
				svg(width='150', height='100')
			div#comutationplot_sample_yaxis_title
			div#comutationplot_patient_sample
			div#comutationplot_sample
			div#comutationplot_empty_rm
		div.row
			div#comutationplot_group_empty
				svg(width='150', height='90')
			div#comutationplot_groups_name
			div#comutationplot_patient_groups
			div#comutationplot_groups
			div#comutationplot_scale
				div.input-group.input-group-xs.spinner#comutationplot_scale_div
					input.form-control.input-sm#comutationplot_scale_input(type='text', value='100%', disabled=true)
					div.input-group-btn-vertical#comutationplot_vertical_div
						button.btn.btn-xs.btn-default#comutationplot_draw_up(type='button')
							i.fa.fa-caret-up.fa-xs#comutationplot_up_i
						button.btn.btn-xs.btn-dafault#comutationplot_draw_down(type='botton')
							i.fa.fa-caret-down.fa-xs#comutationplot_down_i
				div.input-btn
					button.btn.btn-xs.btn-default#comutationplot_initial_button
						i.glyphicon.glyphicon-refresh
		div.row
			div#comutationplot_legend
			div#comutationplot_gene
			div#comutationplot_patient_heatmap
			div#comutationplot_border
				div#comutationplot_heatmap
			div#comutationplot_pq
		div.row
			div#comutationplot_legend_lm
				svg(width='150', height='30')
			div#comutationplot_gene_title
			div#comutationplot_legend_patient
			div#comutationplot_legend_empty
			div#comutationplot_pq_title
	div.loading(style={ "display" : "none" }) 
		span#loading_text
		div.double-bounce1
		div.double-bounce2
	div.tooltip_chart(style={ "display" : "none" })
block append scripts
	script(src='/bower_components/html2canvas/build/html2canvas.min.js')
block append require
	script(src='/js/chart/init.js')
	script(src='/js/chart/start.js', onload='startComutation("NONE", "#{sample.type}", "#{sample.id}", bg_public.getFilterOption().join(","))')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/population/comutationplot.css')
